{% extends "base.html" %}
{% block title %}Show me your traffic sign...{% endblock %}

{% block content %}
    {% with messages  = get_flashed_messages() %}
        {%if messages %}
            {% for msg in messages%}
                <p>{{msg}}</p>
            {% endfor%}
        {% endif %}
    {% endwith %}


    <div class="container">
        <div class="row">
            <div class="col-lg-8  offset-lg-2">
                <h3 class="mt-5">Live Streaming</h3>
                <img src="{{ url_for('video_feed') }}" width="100%">
            </div>
        </div>
    </div>

{% endblock %}